<div class="container mod-full">
  <div class="menu-toggle">
    <i class="fa fa-bars" aria-hidden="true" id="menu-toggle-button"></i>
  </div>
  <div class="banner-logo">
    <a href="/">
      <img src="/assets/images/site-assets/pt-logo.svg">
    </a>
  </div>
  <div class="banner-links">
    <ul class="banner-navigation">
      <li class="pt-login"><a href="https://papertrailapp.com/login">Log In</a></li>
      <li><a href="https://papertrailapp.com/plans/contact">Contact</a></li>
      <li><a href="http://blog.papertrailapp.com">Blog</a></li>
      <li><a href="https://papertrailapp.com/plans">Pricing</a></li>
      <li><a href="https://papertrailapp.com/tour/viewer">Tour</a></li>
    </ul>
  </div>
</div>